// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$body-color: #515151 !default;

$primary:       #3F84FC !default;
$secondary:     #727F94 !default;
$success:       #1DAB47 !default;
$info:          #8A3FFC !default;
$warning:       #FCAE3F !default;
$danger:        #FC413F !default;
$light:         #f8f9fa !default;
$dark:          #1E232D !default;

$border-radius: 0 !default;

// Spur variables
$logo-color: #576177 !default;
$toolbar-bg: #F3F3F3 !default;

$dash-nav-dark-color: #fff !default;
$dash-nav-dark-hover-bg: rgba(#fff, .04) !default;
$dash-nav-dark-bg: #181F2C !default;

$searchbox-input-placeholder: #8b8b8b !default;
