.table-in-card {
    margin: -12px 0;

    thead {
        tr {
            th {
                border-top-color: transparent;
            }
        }
    }
}

.card-body-with-dark-table {
    background-color: #212529;
}

.spur-demo-icons {
    display: flex;
    flex-flow: row wrap;

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
        height: 50px;
        padding: 8px 8px 8px 0;

        &:hover {
            //background: #fff;
        }

        i {
            font-size: 30px;
            //height: 40px;
            width: 40px;
            margin-right: 10px;
        }

        span {
            font-size: 13px;
            opacity: .9;
        }
    }
}
